.adrg-container {
    padding: 20px;
    background-color: #f3f3f3;
    min-height: 100vh;
    max-height: 500vh;
}

.user-side {
    margin: 0 auto;
    width: 100%;
}


.adrg-side {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    align-items: center;
}

.user-data {

    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 40px;
    color: #4b2f70;

}

.adrg-box {
    width: 100%;
    min-height: 80vh;
    max-height: 200vh;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.day-side {
    float: left;
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;

}

.adrg-data {
    float: right;
    width: 70%;
    padding: 5px;
}


.top-user-side {
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 10px;
}

.list-user-side {
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}

.adrg-today-time {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.adrg-today-time-show {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.adrg-timbrature {
    margin: 0 auto;
    width: 80%;
    min-height: 200px;
}

@media (max-width:900px) {
    .day-side {
        width: 100%;
        padding: 5px;
        margin: 0 auto;
        text-align: center;

    }

    .adrg-data {
        width: 100%;
        padding: 5px;
    }
}